<div class="register-wrapper">
  <div class="register-card">

    <!-- GOOGLE LOGO -->
    <h1 class="google-logo">
      <span class="blue">G</span><span class="red">o</span><span class="yellow">o</span>
      <span class="blue">g</span><span class="green">l</span><span class="red">e</span>
    </h1>

    <h2>Create your Fundoo Account</h2>

    <form>

      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>First name</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Last name</mat-label>
          <input matInput>
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Confirm</mat-label>
        <input matInput type="password">
      </mat-form-field>

      <div class="actions">
        <a routerLink="/"> login instead</a>
        <button mat-raised-button color="primary">Next</button>
      </div>

    </form>

  </div>
</div>
